# Ignora la carpeta node_modules
node_modules/

# Ignora la carpeta dist o build
dist/
build/

# Ignora archivos de entorno (excepto .env.example)
.env
.env.local
.env.development
.env.production

# Ignora archivos de sistema
.DS_Store